<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE hibernate-configuration PUBLIC
 "-//Hibernate/Hibernate Configuration DTD 3.0//EN"
 "http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">
 
<hibernate-configuration>
    <session-factory>
    	<!-- Database connection settings -->
        <property name="hibernate.connection.driver_class">com.mysql.jdbc.Driver</property>
        <property name="hibernate.connection.url">jdbc:mysql://localhost:8889/webappdb?serverTimezon=PST8PDT</property>
        <property name="hibernate.connection.username">root</property>
        <property name="hibernate.connection.password">root</property>
        
        <!-- JDBC connection pool (use the built-n) -->
        <property name="connection.pool_size">2</property>
        
        <!-- SQL dialect -->
        <property name="hibernate.dialect">org.hibernate.dialect.MySQL5Dialect</property>
        
        <!-- Control second-level cache -->
        <!--
        <property name="hibernate.cache.region.factory_class">org.hibernate.cache.ehcache.EhCacheRegionFactory</property>
        <property name="cache.use_second_level_cache">true</property>
        <property name="cache.use_query_cache">true</property>
        -->
        
        <!-- Echo all executed SQL to stdout -->
        <!--  -->
        <property name="show_sql">true</property>
        
        
        <property name="format_sql">true</property>
        
        <!-- Drop and re-created the database schema on startup -->
        <!-- This property will create the database schema -->
        <!-- create:  Will drop and recreate the schema all the time -->
        <!-- update:  Will not recreate the schema -->
        <property name="hbm2ddl.auto">update</property>
        
        <!-- Names the annotated entity class -->
        <!-- List out all Model classes that have been configured -->
        <mapping class="org.web.login.dto.User" />
    </session-factory>
</hibernate-configuration>